*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: rgb(254, 210, 216);
}
.container {
	height: 300px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border: 10px solid #2a3c3e;
	padding: 30px;
	background-color: #fff;
	text-align: center;
	}

	.box{
		margin-top: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	
	#factorialize{
		background-color: rgb(208, 108, 121);
		width: 100%;
		padding: 20px;
	}
